{% load static %}
<footer id="footer_box">
    <div class="_m_top_footer">
        <div class="container">
            <div class="col-xs-6 text-right">
                پاسخگوی شما هستیم.
            </div>
            <a href="tel:02157679" class="col-xs-6 text-left">
                <span class="icon icon-phone2"></span>021-57679
            </a>
        </div>
    </div>
    <div class="_m_menu_footer _m_desktop">
        <div class="container">
            <div class="_p_flex_around  _d_holder">
                <ul>
                    <li class="_m_menu_footer_title">راهنمای خریداران</li>
                    <li><a class="_p_trans" href="#">مراحل سفارش</a></li>
                    <li><a class="_p_trans" href="#">مدارک ضمانت</a></li>
                    <li><a class="_p_trans" href="#">زمان و روش ارسال</a></li>
                    <li><a class="_p_trans" href="#">پرداخت اقساط</a></li>
                    <li><a class="_p_trans" href="#">بیمه و ضمانت ۷روزه</a></li>
                    <li><a class="_p_trans" href="#">راهنمای پرداخت اقساط</a></li>
                </ul>
                <ul>
                    <li class="_m_menu_footer_title">خدمات کاربران</li>
                    <li><a class="_p_trans" href="#">سوالات متداول کاربران</a></li>
                    <li><a class="_p_trans" href="#">فروش سازمانی</a></li>
                    <li><a class="_p_trans" href="#">اجاره کوتاه مدت</a></li>
                </ul>
                <ul>
                    <li class="_m_menu_footer_title">خدمات تامین کنندگان</li>
                    <li><a class="_p_trans" href="#">ورود به پنل تامین کنندگان</a></li>
                    <li><a class="_p_trans" href="#">لیست در انتظار تامین</a></li>
                    <li><a class="_p_trans" href="#">راهنمای تامین کنندگان</a></li>
                </ul>
                <ul>
                    <li class="_m_menu_footer_title">اطلاعات بونیز کالا</li>
                    <li><a class="_p_trans" href="#">حریم خصوصی</a></li>
                    <li><a class="_p_trans" href="#">درباره بونیز کالار</a></li>
                    <li><a class="_p_trans" href="#">تماس با بونیز کالا</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="_m_menu_footer _m_mobile">
        <div class="container">
            <div class="text-center _d_holder">
                <ul>
                    <li class="_m_menu_footer_title"><a href="product.html">راهنمای خرید</a></li>
                    <li class="_m_menu_footer_title"><a href="product.html">سوالات متداول خریداران</a></li>
                    <li class="_m_menu_footer_title"><a href="product.html">راهنمای تامین</a></li>
                    <li class="_m_menu_footer_title"><a href="product.html">ورود به پنل تامین کنندگان</a></li>
                    <li class="_m_menu_footer_title"><a href="product.html">لیست در انتظار تامین</a></li>
                    <li class="_m_menu_footer_title"><a href="product.html">درباره ما</a></li>
                    <li class="_m_menu_footer_title"><a href="product.html">تماس با ما</a></li>
                    <li class="_m_menu_footer_title"><a class="_p_trans" href="#">اجاره کوتاه مدت</a>
                    </li>
                    <li class="_m_menu_footer_title"><a class="_p_trans" href="#">راهنمای پرداخت
                        اقساط</a></li>
                </ul>
            </div>
        </div>
    </div>
    <newsletter></newsletter>
    <div class="_m_footer_about_container">
        <div class="container">
            <div class="_p_flex_center _d_holder">
                <div class="_m_footer_enamad">
                    <img src="https://trustseal.enamad.ir/logo.aspx?id=63150&amp;p=hsZQFToXatXGdFYT" alt="" onclick=""
                         style="cursor:pointer" id="hsZQFToXatXGdFYT">
                </div>
                <div class="_m_footer_about">
                    <p>
                        بونیزکالارا‌ه‌حل خرید اعتباری هوشمند است که در جهت سهولت و سرعت در خرید آنلاین و در راستای
                        بهینه ‌کردن زندگی مدرن امروزی، به فروش اقساطی وسایل می‌پردازد. در بونیز کالا تأمین‌کنندگان، مبلغ
                        مورد نیاز برای خرید یک وسیله را تأمین می‌کنند و وسیله را به مشتریان اعتبارسنجی‌شده به صورت
                        اقساطی می‌فروشند.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="_m_copyRight text-center">
        <div class="container">Copyright <span class="_p_font_en">2021-2022</span><a href="#"> bonizkala.com</a></div>
    </div>
</footer>
